table {
    display: grid;
    grid-auto-flow: dense;
}

.filtermenu {
    position: relative;
    display: flex;
    width: 100%;
    height: 10px;
    margin: 0 0 0 -20px;
    opacity: 0.01;
    transition: all 250ms ease-in-out;
}
.filtermenu.is-nav-open {
    position: relative;
    height: 150px;
    opacity: 1;
}

.showmenu {
    position: relative;
    height: 0px;
}
.showmenu.is-open {
    opacity: 0.5;
}

.nav {
    position: relative;
    width: 100%;
    height: 0px;
    padding: 20px;
}

.menu-text {
    position: relative;
    padding: 10px;
    cursor: pointer;
    transition: color .3s;
}

.menu-text:hover {
    color: rgba(15, 184, 0, 0.815);
}

.filtered-enter {
    opacity: 0.01;
}
.filtered-enter.filtered-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.filtered-exit {
    opacity: 1;
}
.filtered-exit.filtered-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.toggleButton {
    position: relative;
    top: -143px;
    width: 30px;
    height: 15px;
    background: gray;
    border-radius: 30px;
    padding: 2px;
    margin: 4px;
    transition: all 200ms ease-in-out;
}
.toggleButton.active {
    background: green;
}
.toggleButton > .inner-Circle {
    position: relative;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}
.toggleButton.active > .inner-Circle {
    margin-left: 15px;
}
.toggleButton-text {
    position: relative;
    top: -130px;
    left: 55px;
    width: 100px;
    cursor: pointer;
    margin: -10px;
    transition: color opacity .3s;
}
.toggleButton-text:hover {
    color: rgba(15, 184, 0, 0.815);
}
.food-table {
    position: relative;
}
.table-header {
    cursor: pointer;
    border-collapse: separate;
}