table {
    display: grid;
    grid-auto-flow: dense;
}

.filter_available {
    font-size: 15px
}

.filtermenu {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0 0 0 -20px;
    transition-property: height;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.filtermenu.is-nav-open {
    height: 180px;
}

.nav {
    position: relative;
    width: 100%;
    height: 0px;
    padding: 20px;
}

.nav__icon {
    position: relative;
    top: 0;
    padding: 5px;
    cursor: pointer;
    transition: color .3s;
}

.nav__icon:hover {
    color: blueviolet;
}

.filtered-enter {
    opacity: 0.01;
}
.filtered-enter.filtered-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.filtered-exit {
    opacity: 1;
}
.filtered-exit.filtered-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
